body {
	background-color: #21211e;
	width: 765px;
	margin: 0 auto;
}

fieldset {
	margin-top: 30px;
	background-color: #7C77DE;
	border: solid 5px;
	border-color: #403B95;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.field_1 input {
	margin-bottom: 15px;
}

legend {
	font-size: 20px;
	font-weight: bold;
	color: #D4D4D8;
}

.name {
	width: 260px;
}

.age {
	width: 50px;
}

div {
	margin: 0;
}

p {
	font-weight: bold;
}

select {
	width: 160px;
	background: #CDCCEA;
}

textarea {
	width: 410px;
	height: 140px;
	background: #CDCCEA;
}

.it {
	font-style: italic;
}

button {
	margin-bottom: 30px; 
	background-color: #CDCCEA;
}

input {
	background: #CDCCEA;
}
